@import '../config';

html {
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $font-poppins;
}

h1, h2, h3, h4, h5 {
	margin-bottom: 0.5em;
}

h1 {
	font-size: $h1-font-size;
	line-height: 1.25;
	margin-bottom: 3rem;
	color: $dark-blue;
}

h2 {
	font-size: $h2-font-size;
	margin-bottom: 4rem;
	text-align: center;
	color: $dark-blue;
	line-height: 1.35;
	.subheadline {
		display: block;
		font-size: 14px;
		font-weight: 200;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
}

h3 {
	font-size: $h3-font-size;
	line-height: 1.1;
	color: $dark-blue;
}

h4 {
	font-size: $h4-font-size;
	line-height: 1.05;
}

p {
	font-size: $base-paragraph-size;
	line-height: 1.75;
	color: $dark-blue;
}

.perex {
	text-align: center;
	font-weight: 200;
	font-size: 18px;
	margin-bottom: 6rem;
}

strong {
	font-weight: 600;
}

a {
	color: $dark-blue;
	@if ($underlined-links == true) {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	} @else {
		text-decoration: none;
	}
}

.list {
	font-weight: 300;
	list-style: none;
	padding-left: 1rem;
	li {
		position: relative;
		display: flex;
		justify-content: flex-start;
		color: $dark-blue;
		line-height: 1.5;
		padding-left: 2rem;
		margin-bottom: 0.5rem;
		&:before {
			content: '';
			position: absolute;
			display: block;
			top: 10px;
			left: 0;
			width: 10px;
			height: 2px;
			background-color: $green;
			margin-right: 5px;
		}
	}
}
