<footer class="footer">
	<div class="footer__wrapper wrapper">
		<a class="footer__cookie" href="javascript:void(0);" data-cc="c-settings">{translate}Nastavení cookies{/translate}</a>
		<p>© {if date(Y) !== '2021'}2021&mdash;{/if}{date(Y)} Dexportio</p>
	</div>
</footer>