parameters:

	presets:
		contact:
			mail: 'info@dexpotio.cz'
			phone: '+420777111222333'

		analytics:
			googleAnalytics:
				cz: 'cz-XXXXXXXX'
				sk: 'sk-XXXXXXXX'

	database:
		host: localhost
		dbname: dbname
		user: root
		password: root

	translations: '%appDir%/locales/translations.neon'


application:
	errorPresenter: Error
	mapping:
		*: Dexportio\*Module\Presenters\*Presenter


session:
	expiration: 2 months
	cookiePath: @httpRequest::getUrl()::getBasePath()


database:
	dsn: 'mysql:host=%database.host%.;dbname=%database.dbname%'
	user: %database.user%
	password: %database.password%
	options:
		lazy: yes


di:
	export:
		parameters: no
		tags: no


services:
	- Freshio\Presets\Presets( %presets% )
	- Freshio\Utils\AssetVersioning( %wwwDir% )

	translator:
		class: Freshio\Localization\SimpleTranslator
		setup:
			- addTranslations( '%translations%' )

	freshio.localization:
		class: Freshio\Localization\Localization
		arguments:
			- [ cs, sk ] # languages
			- [ cz, sk ] # regions
		setup:
			- setTranslator( @translator )


	router: Dexportio\Router\RouterFactory::createRouter
