.article--about {
    h2, p {
        text-align: left;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .article__row {
        display: flex;
        justify-content: space-between;
        .box {
            width: 47.5%;
            box-sizing: border-box;
        }
    }
}