@import '../config';
@import '../core/breakpoints';

.button {
	display: inline-flex;
	text-align: center;
	text-decoration: none;
	font-size: 0.9rem;
	line-height: 1;
	border-radius: $button-radius;
	cursor: pointer;
	padding: 1rem 2rem;
	text-transform: uppercase;
	font-weight: 700;
	@include max940px {
		display: block;
	}
}

.button--gradient {
	color: $black;
	background: rgb(0,124,207);
    background: linear-gradient(215deg, rgba(0,124,207,1) 0%, rgba(0,211,168,1) 100%);
}

.button--black {
	background-color: $black;
	color: $white;
}

.button--blue {
	background-color: $blue;
	color: $white;
}

.button--green {
	background-color: $green;
	color: $gray;
	@extend .trans;
	&:hover {
		background-color: darken($green, 5%);
	}
}

.button--darkblue {
	border: 1px solid $dark-blue;
	background-color: $dark-blue;
	color: $white;
	@extend .trans;
	&:hover {
		background-color: lighten($dark-blue, 5%);
	}
}

.button--transparent {
	color: $white;
	border: 1px solid $white;
	font-weight: 400;
}
