@import '../config';

.header {
	position: relative;
	background-color: transparent;
	z-index: 1010;
	@media screen and (max-width: $hamburger-breakpoint) {
		
	}

	.header__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.25rem 0;
	}
}

.headerLogo {
	.headerLogo__image {
		max-width: 10rem;
		width: 100%;
	}

	.headerLogo__link {
		display: block;
	}
}

.headerNavigation {
	.navigation {
		@media screen and (max-width: $hamburger-breakpoint) {
			display: none;
		}
	}
}
