.services {
    margin-bottom: 3rem;
    .services__list {
        display: flex;
        justify-content: center;
        gap: 3rem;
        list-style: none;
        margin-bottom: 4rem;
    }

    .services__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: calc(33% - 3rem);
        background-color: transparent;
        border-radius: 4px;
        box-shadow: 0 0 20px 1px rgba(0,0,0,0.15);
        padding: 3rem 2rem;
    }

    .services__image {
        display: flex;
        align-items: center;
        min-height: 80px;
        margin-bottom: 1.5rem;
    }

    .services__copy {
        display: block;
        //font-weight: 200;
        color: $white;
        text-align: center;
    }

    .services__desc {
        display: block;
        padding: 0 1rem;
        line-height: 2;
    }

    .services__headline {
        color: $white;
        margin-bottom: 1.5rem;
    }
}

