.base-gradient {
    display: block;
    width: 800px;
    height: 300px;
    margin: 5rem auto;
    background: rgb(0,124,207);
    background: linear-gradient(215deg, rgba(0,124,207,1) 0%, rgba(0,211,168,1) 100%);
    
}